html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

/* Heading Starts */

#gradient-canvas {
  width: 100%;
  height: 100%;

  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
  z-index: 0;
}

.heading {
  /* font-family: sohne-var, "Helvetica Neue", Arial, sans-serif; */
  font-weight: 700;
  font-size: 4rem;
  color: #343434;
  position: absolute;
  /* padding: 4rem; */
  /* margin-bottom: 0ch */
  z-index: 1;
  width: 100%;
  /* mix-blend-mode: difference; */
  top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  /* margin: 10% 5% 0% 5%; */
  /* margin-right: 5%; */
}

/* Heading Ends */

/* navbar starts */
.logo {
  position: absolute;
  /* padding-bottom: 10px; */
  /* margin-bottom: 40px; */
}
.navi {
  padding: 30px;
  position: absolute;
  margin-left: 10%;
  color: white;
  display: inline;
}
.nav_ul {
  list-style-type: none;
  margin: 10px 0px 10px 500px;
  padding: 40;
}

.nav_li {
  display: inline;
  padding: 15px;
  font-weight: 600;
}
/* navbar ends */

/* about starts*/
.about {
  width: 100%;
  height: 100%;
}
.about-heading {
  /* background-color: #7038ff; */
  text-align: center;
}
.photo {
  margin-left: 10px;
}
/* about ends */

/* skill starts */

/* skill ends */

/* Educations Starts */
#educations {
  background-color: #bce2f8;
}
.education-cards {
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
}

/* Educations Ends */

/* Contact :start */

.contactalign {
  /* padding-left: 5%;
  padding-left: 5%; */
  margin-left: 5%;
  margin-right: 5%;
}

/* Contact ends */
