html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

/* Heading Starts */

#gradient-canvas {
  width: 100%;
  height: 100%;

  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
  z-index: 0;
}

.heading {
  /* font-family: sohne-var, "Helvetica Neue", Arial, sans-serif; */
  font-weight: 700;
  font-size: 4rem;
  color: #343434;
  position: absolute;
  /* padding: 4rem; */
  /* margin-bottom: 0ch */
  z-index: 1;
  width: 100%;
  /* mix-blend-mode: difference; */
  top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  /* margin: 10% 5% 0% 5%; */
  /* margin-right: 5%; */
}

/* Heading Ends */

/* navbar starts */
.logo {
  position: absolute;
  /* padding-bottom: 10px; */
  /* margin-bottom: 40px; */
}
.navi {
  padding: 30px;
  position: absolute;
  margin-left: 10%;
  color: white;
  display: inline;
}
.nav_ul {
  list-style-type: none;
  margin: 10px 0px 10px 500px;
  padding: 40;
}

.nav_li {
  display: inline;
  padding: 15px;
  font-weight: 600;
}
/* navbar ends */

/* about starts*/
.about {
  /* width: 100%;
  height: 100%; */
  padding: 1.3%;
  /* background-color: beige; */
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: bolder;
}
.about-heading {
  /* background-color: #7038ff; */
  text-align: center;
  font-weight: bolder;
}
/* .photo {
  margin-left: 10px;
} */
.about-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about-row {
  padding: 1.1% 11%;
  font-size: 20px;
}
.about-column {
  padding: 1.5%;
}
/* about ends */

/* skill starts */
.skills {
  font-family: "Lucida Console", "Courier New", monospace;
  /* background-color: rgba(104, 22, 219, 0.69); */
  /* background-color: linear-gradient(90deg, rgb(57, 54, 231), rgb(153, 83, 238)); */
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 1.3%;
  color: aliceblue;
  font-weight: 1000;
}
.lists {
  display: flex;
  padding: 0.5rem;
}

.ski-name {
  width: 100%;
}
/* skill ends */

/* Educations Starts */
.educations {
  padding: 2%;
  /* background-color: #8fd6ff; */
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.education-cards {
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
}

/* Educations Ends */

/* Projects Starts */
.projects {
  padding: 2%;
  /* background-color: #df8fbf;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.projects-row {
  padding: 2%;
}

.projects-img {
  position: relative;
  /* width: 50%; */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects-img:hover .image {
  opacity: 0.3;
}

.projects-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  margin: 4px 2px;
  border-radius: 16px;
}
/* Projects Ends */

/* Contact :start */

.contactalign {
  padding: 1.3% 10% 0% 10%;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a:link {
  text-decoration: none;
}

/* Contact ends */
